@model ProyectoWEB.Entities.UsuarioEnt

@{
    ViewData["Title"] = "PerfilUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información General</h4>

            @using (Html.BeginForm("PerfilUsuario", "Usuario", FormMethod.Post, new { @class = "pt-3" }))
            {
                @ViewBag.MensajePantalla

                <div class="form-group">
                    <label>Identificación</label>
                    @Html.TextBoxFor(m => m.Identificacion, new { @readOnly="readOnly", @class="form-control form-control-lg", @type="text", @placeholder="Identificación" })
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    @Html.TextBoxFor(m => m.Nombre, new { @class="form-control form-control-lg", @type="text", @placeholder="Nombre" })
                </div>
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    @Html.TextBoxFor(m => m.CorreoElectronico, new { @class="form-control form-control-lg", @type="email", @placeholder="Correo Electrónico" })
                </div>
               
                <button type="submit" class="btn btn-primary mr-2">Procesar</button>
            }
        </div>
    </div>
</div>
